* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  
  color: aliceblue;
  display: grid;
  place-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url(../images/2823368.jpg);
  background-size: cover;
  height: 100vh;
}
main{
  border: solid 2px yellow;
  display: flex;
  justify-content: space-around;
  font-size: 20px;
}


.board {
 
  margin: auto;
  width: 600px;
  height: 600px;
  font-family: sans-serif;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
 
}
/*cards Container*/
.container {
  max-width: 75%;
  margin: auto;
}

.card {
  width: calc(25% - 20px);
  height: calc(30% - 50px);
  position: relative;
  margin: 7px;
  display: none;
}

.content {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.front,
.back {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url(../images/backgQuestion.png);
  background-size: cover;
  display: grid;
  place-content: center;
  font-size: 6rem;
  border-radius: 1rem;
  backface-visibility: hidden;
  user-select: none;
  box-shadow: 1px 2px 4px aliceblue;
}

.back {
  background: linear-gradient(
    0deg,
    rgb(87, 1, 116) 20%,
    rgb(95, 253, 253) 100%
  );
  transform: rotateY(180deg);
}

.card.flipped .content {
  transform: rotateY(180deg);
  transition: transform 0.5s;
}
.winner {
  font-size: 3rem;
  color: aliceblue;
  display: none;
}
#newGame {
  display: none;
}
#pasasteLiga{
 border: solid 2px yellow;
 display: none;
 
  
}

/*########
##BUTTON##
##########
*/
.center {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.outer {
  position: relative;
  background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
}
.button {
  height: 100px;
  width: 250px;
  border-radius: 50px;
}
.outer button,
.outer span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.outer button {
  background: #111;
  color: #f2f2f2;
  outline: none;
  border: none;
  font-size: 20px;
  z-index: 1;
  letter-spacing: 1px;
  cursor: pointer;
}

.button button {
  height: 80px;
  width: 220px;
  border-radius: 40px;
}
/* cambia diseño */
.outer span {
  height: 100%;
  width: 100%;
  background: inherit;
}
.button span {
  border-radius: 50px;
}
.outer span:nth-child(1) {
  filter: blur(7px);
}
.outer span:nth-child(2) {
  filter: blur(14px);
}
.outer {
  animation: rotate 1.5s linear infinite;
}
@keyframes rotate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

/*Media Query*/



   @media (max-width: 675px) {
    .main p{
      text-align: center;
    }
    .board{
      max-width: 50%;
      max-height: 60%;
      flex-direction: row;
    }
  
    
  
  } 
  